.grand{

    background-color: #e0cdf0;
    background-image: linear-gradient(#345d7e 10%, #e0cdf0 105%,  #f8e7ff 15%);
}

.micolor{
    background-color: #345D7E;
}

.perfilCard{

    background-color: #c4d7f3;
}

.agregarBg{

    background-color: #5582b2;
}