

<div class="container card mt-5">

  <h1>{{authService.usuario.apellido}}</h1>
  <form>

    <h3 class="mt-3">Datos fisicos</h3>


   


    <div class="form-check-inline">
      <label class="form-check-label" for="sexo">
        <input type="radio" class="form-check-input" [(ngModel)]="objetivo.sexo"  name="sexo" value="Hombre" #sexo="ngModel" required>Hombre
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label" for="sexo">
        <input type="radio" class="form-check-input" [(ngModel)]="objetivo.sexo"  name="sexo" value="Mujer" #sexo="ngModel" required>Mujer
      </label>
    </div>

    <div class="form-group">
      <label for="peso">Peso en kilos:</label>
      <input type="number" class="form-control" [(ngModel)]="objetivo.peso" name="peso" #peso="ngModel" required>
    </div>
    <div class="form-group">
      <label for="altura">Altura en centimetros:</label>
      <input type="number" class="form-control" [(ngModel)]="objetivo.altura" name="altura" #altura="ngModel" required>
    </div>
    <div class="form-group">
      <label for="edad">Edad:</label>
      <input type="number" class="form-control" [(ngModel)]="objetivo.edad" name="edad" #edad="ngModel" required>
    </div>


    <h3>Nivel de actividad</h3>

    <div class="form-check-inline">
      <label class="form-check-label" for="nivelActividad">
        <input type="radio" class="form-check-input" [(ngModel)]="objetivo.nivelActividad"
          name="nivelActividad" #nivel_actividadad="ngModel" value="5" required>
        Me considero una persona no muy activa, no realizó deporte frecuentemente.
      </label>
    </div>

    <div class="form-check-inline">
      <label class="form-check-label" for="nivelActividad">
        <input type="radio" class="form-check-input" [(ngModel)]="objetivo.nivelActividad" 
          name="nivelActividad" #nivel_actividadad="ngModel" value="1" required>
        Me consideró una persona moderadamente activa, practico irregularmete algún tipo de deporte.
      </label>
    </div>

    <div class="form-check-inline">
      <label class="form-check-label" for="nivelActividad">
        <input type="radio" class="form-check-input" [(ngModel)]="objetivo.nivelActividad" 
          name="nivelActividad" #nivel_actividadad="ngModel" value="2" required>
        Me consideró una persona muy activa, practico deporte en forma regular y periódica.
      </label>
    </div>

    <div class="form-group">
      <button class="btn  btn-primary" role="button" (click)='createObjetivo()'>Crear</button>
    </div>


  </form>


</div>